footer {
	background: $charcoal;
	color: white;
	padding: 2em 0;

	@include bp(full-nav) {
		padding-top: 9em;
	}

	svg {
		fill: white;
		width:100%;

		@include bp(full-nav) {
			margin-top: -4.8em;
		}
	}

	span {
		overflow: hidden;
		margin-bottom: 0;
	}

	p, li {
		margin-bottom: 0;
		padding: 6px 0;
		border-bottom: 1px solid white;
		width: 100%;
		@include font-size(17px);
		text-transform: uppercase;

	}

	span {
		min-width: 40%;
		float: left;

		&.address {
			overflow: hidden;
		}
	}


	ul {
		padding: 0; margin: 0;

		li {
			display: inline-block;
			list-style: none;

			&:last-of-type {
				border-bottom: 0;
			}

		}

	}

	a {
		color: white;

		@include attention() {
			color: $highlight;
		}

	}

	.copy {
		text-align: center;

		@include bp(two-hands) {
			text-align: left;
		}
	}

}
