// High-level base settings.
$base-font-size:          20px !default;
$base-line-height:        31px !default;


//
//
//		Type
//
//

$heading-size-1:  45px;
$heading-size-2:  24px;
$heading-size-3:  24px;
$heading-size-4:  15px;
$heading-size-5:  16px;
$heading-size-6:  14px;

// Font Family

$base-font: 'sinkin_sans400_regular', Helvetica, Arial, sans-serif;
$semi-bold: 'sinkin_sans600_semibold', Helvetica, Arial, sans-serif;
$bold: 'sinkin_sans700_bold', Helvetica, Arial, sans-serif;
