<!DOCTYPE html>
<html class="{{ page.title }}">

  {% include head/styleguide-head.html %}

  <body>

      {% include nav/nav.html %}
      {% include nav/trigger.html %}

      <div class="site-wrap clearfix">

      {% include head/absolute-header-with-flexslider.html %}

      <div id="main" class="clearfix main--overlaid">

        <div class="wrapper">

          <article class="layout">

              <aside class="layout__item u-1/3-full-nav">

                  <div class="layout">

                      <span class="layout__item u-1/3-two-hands u-1/1-full-nav"><img src="http://placehold.it/416x300" class="u-mb border-img"></span><!--

                      --><span class="layout__item u-1/3-two-hands u-1/1-full-nav"><img src="http://placehold.it/416x300" class="u-mb border-img"></span><!--

                      --><span class="layout__item u-1/3-two-hands u-1/1-full-nav"><img src="http://placehold.it/416x300" class="u-mb border-img"></span>

                  </div>

              </aside><!--

              --><section class="layout__item highlight u-2/3-full-nav">

                    <p>
                        Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.


                    </p><p>
        Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum.

        </p><p>
        <a href="/" class="button">button ></a>
        </p>
              </section>

          </article>

        </div>

    </div><!-- END #main -->

          <section class="clearfix green-block fw">

            <div class="wrapper">

                <div class="layout">

                    <article class="layout__item u-2/3-two-hands">

                        <p>
                            Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                        </p>

                        <p>
                            <a href="/" class="button--white">hhjklh hfl ></a>
                        </p>

                    </article><!--

                    --><aside class="layout__item u-1/3-two-hands">
                    <img src="http://placehold.it/416x300" class="u-mb border-img">
                    </aside>

                </div>

            </div>

          </section>



      <div class="clearfix hide-tablet-and-down fw u-pt+ u-pb+">

        <section class="wrapper">

            <div class="dark-border fw inline-elements u-p-">
                <h2>Got an enquiry?</h2>
                <p>
                    fhdjlahfjlda hh jld fhl hjl hjklhfda

                </p>
                <a href="/" class="button--brown">Go ></a>
            </div>

        </section>

    </div>





    {% include footer/footer.html %}

    <div class="overlay">

    </div>

</div><!-- END .page-wrap -->

</body>

</html>
