h1,
.alpha,
%alpha {
    @include font-size($heading-size-1);
    font-family: $bold;
    color: $highlight;

    @include bp(max-mobile) {
        @include font-size(19px);
    }
}

h2,
.beta,
%beta {
    @include font-size($heading-size-2);
    font-family: $semi-bold;
    line-height: 1.6;
    color: $highlight;

    @include bp(max-mobile) {
        @include font-size(17px);
    }
}

h3,
.gamma,
%gamma {
    @include font-size($heading-size-3);

    @include bp(max-mobile) {
        @include font-size(15px);
    }
}

h4,
.delta,
%delta {
    @include font-size($heading-size-4);


}

h5,
.epsilon,
%epsilon {
    @include font-size($heading-size-5);



}

h6,
.zeta,
%zeta {
    @include font-size($heading-size-6);


}
