<nav id="nav" role="navigation" class="nav">

    <ul id="main-menu" class="primary-menu u-ml0"><li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-253"><a href="/fancybox.html">Benefits</a></li>
        <li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><a href="/flexslider.html">Uses</a></li>
        <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-127"><a href="http://ooh.gluecreative-dev.co.nz/visiting-our-venue/">Our Company</a>
            <ul class="dropdown-menu">
            	<li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"><a href="http://ooh.gluecreative-dev.co.nz/visiting-our-venue/visitor-info/">> Visitor Info</a></li>
            	<li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="http://ooh.gluecreative-dev.co.nz/visiting-our-venue/box-office/">> Box Office Information</a></li>
            	<li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="http://ooh.gluecreative-dev.co.nz/visiting-our-venue/opera-house-cafe-bar/">> Opera House Cafe &amp; Bar</a></li>
            	<li id="menu-item-152" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-152"><a href="http://ooh.gluecreative-dev.co.nz/visiting-our-venue/history/">> History</a></li>
            </ul>
            </li>
        <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a href="/ABflexslider.html">Latest Projects</a></li>
        <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a href="/ABflexslider.html">Resources</a></li>
        <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a href="/ABflexslider.html">Contact</a></li>


    </ul>

    <p class="beta charcoal">
        Got an enquiry? <a class="button--charcoal u-mb0 u-mr0" href="/contact">Go ></a>
    </p>


</nav>
